<section id="dashSec">
  <div class="welcome-msg">
    <h1>Welcome <%=user.username%>✌️</h1>
  </div>
  <div class="dashCon" data-expenses="<%= JSON.stringify(expenses) %>">
    <div class="piecharts grid-area:box-4"></div>

    <div class="charts" style="grid-area: box-1">
      <div class="dailyExpensesChart">
        <button id="toggleChart">Switch to Monthly</button>

        <canvas id="myChart1" style="height: 100% !important"></canvas>
      </div>
    </div>

    <!-- Expenses Container -->
    <div class="recentExpensesCon" style="grid-area: box-2">
      <div class="recentExpensesHeading">
        <h1>RECENT EXPENSES</h1>
      </div>
      <!-- Column Headings -->
      <div class="recentExpensesColumns">
        <div class="category-heading head-col"><p>BUDGET</p></div>
        <div class="expense-heading head-col"><p>EXPENSE</p></div>
        <div class="date-heading head-col"><p>CREATED DATE</p></div>
        <div class="amount-heading head-col"><p>AMOUNT</p></div>
        <!-- <div class="amount-heading head-col"><p>ACTION</p></div> -->
      </div>

      <!-- Dynamically Generated Expenses -->
      <% expenses.slice(0, 5).forEach(expense => { %>
      <div class="recents">
        <div class="category body-col"><p><%= expense.BudgetName %></p></div>
        <div class="expense body-col"><p><%= expense.ExpenseName %></p></div>
        <div class="date body-col">
          <p><%= expense.CreatedDate.toISOString().split('T')[0] %></p>
        </div>
        <div class="amount body-col"><p><%= expense.ExpenseAmount%></p></div>
      </div>

      <% }) %>
    </div>

    <div
      class="pieCharts"
      data-budgets="<%=budgetsData%>"
      style="grid-area: box-3">
      <div class="budgetSpentPie">
        <canvas id="budgetPieChart"></canvas>
      </div>
      <div class="monthlyPieChartCon">
        <canvas id="monthlyBudgetPieChart"></canvas>
        <div>
          <label for="monthSelector" style="color: white">Select Month:</label>
          <select id="monthSelector"></select>
        </div>
      </div>
    </div>
    <!-- End of Container -->
  </div>

  <!-- End of Main -->
</section>
